<div
  style='
        width: 800px;
        background: white;
        border-radius: 10px;
        margin: auto;
        padding: 40px;
        box-sizing: border-box;
        border: 1px solid black
    '
>
  <img
    src={{image.src}}
    style='width: 250px; height: 140px; object-fit: cover'
    alt=''
  />
  <h1 style='color: black; margin-bottom: 40px'>
    Chào
    {{email}},
    <br />
    Xin hãy nhấp vào liên kết bên dưới để thay đổi thông tin đăng nhập Kewtie:
  </h1>
  <div style='width: 40%; margin: auto;'>
    <a href={{url}} style='text-decoration: none; color: white;'>
      <div
        style='
                width: 100%;
                background: black;
                height: 80px;
                border-radius: 8px;
                padding: 25px 0 0 50px;
                box-sizing: border-box;
                font-size: 20px;
            '
      >
        Thay đổi mật khẩu
      </div>
    </a>
  </div>
  <p style='color: black; margin-top: 40px; font-size: 18px'>
    Nếu bạn không có ý định thay đổi thông tin đăng nhập Kewtie, xin hãy bỏ qua
    email này. Có khả năng một người dùng khác đã nhập thông tin đăng nhập của
    họ không chính xác.
  </p>
</div>